@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

/* Reset */
:root {
  --mainColor: #0b9586;
  --paragraphColor: #475467;
  --listColor: #84bd3a;
  --buttonColor: #ffbb1c;
  --activeNavBg: rgba(0, 0, 0, 0.06);
  --borderBtnNav: 3px solid rgba(0, 0, 0, 0.3);
  --cardBorder: #3cab90;
  --cardBg: #3cab900d;
  --footerColor: #283646;
  --solorColor: #2a3334;
  --grayColor: #101828;
  --testimonialParagraphColor: #1c1c1c;
  --dots-color: #d9d9d9;
  --dotsActive-color: #6b6b6b;
  --inputBorder: #b3bdc7;
  --footerLine: #71777d;
  --copyRightColor: #92989f;
  --padding-sec: 80px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 1.4;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
}

.container {
  width: 80%;
  margin: auto;
}

h1 {
  font-size: 3.375rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

.btn1,
.btn2 {
  padding: 12px 34px;
  border-radius: 109px;
  font-size: 0.875rem;
  margin-right: 10px;
  display: inline-block;
}

.btn1 {
  background-color: var(--mainColor);
  color: #fff;
}

.btn2 {
  background-color: var(--buttonColor);
  color: #2a3334;
}

.arrow-right {
  display: flex;
  vertical-align: top;
  color: var(--cardBorder);
  margin-top: 10px;
}

.arrow-right img {
  width: 20px;
  margin-left: 10px;
}

.title {
  text-align: center;
}

.title p {
  color: var(--paragraphColor);
  max-width: 800px;
  margin-inline: auto;
  margin-block: 20px;
}

/* Navbar */
nav {
  background-color: var(--mainColor);
  color: #fff;
  padding-block: 16px;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
}

nav #menu {
  display: none;
}

nav label {
  display: none;
  cursor: pointer;
}

nav label img {
  width: 25px;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo img {
  mix-blend-mode: multiply;
  width: 147px;
  height: 44px;
}

nav .nav-menu ul {
  display: flex;
  gap: 8px;
}

nav .nav-menu ul li {
  padding: 8px 28px;
}

nav .call a {
  font-weight: 700;
  font-size: 1.3rem;
}

nav .call p {
  font-size: 1rem;
  text-align: right;
}

nav .nav-menu .active {
  background-color: var(--activeNavBg);
  border-bottom: var(--borderBtnNav);
  border-radius: 5px;
  padding: 8px 28px;
}

/* Hero Section */
header {
  background: url("./assets/images/solar-panels-meadow 1.png") no-repeat
    center/cover;
  color: #fff;
}

header .container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

header .line {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .progress {
  height: 5px;
  width: 200px;
  background-color: #575757;
}

header .inner-progress {
  height: 100%;
  background-color: #fff;
}

header .landing-area {
  width: 100%;
  max-width: 729px;
}

header p {
  font-size: 1.25rem;
  line-height: 1.8;
  margin-block: 30px;
}

/* About Section */
#about {
  padding-block: var(--padding-sec);
  position: relative;
}

#about .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

#about .container .about-text {
  width: calc(50% - 30px);
}

#about .container .about-img {
  width: 40%;
  height: auto;
}

.about-img figure {
  position: relative;
}

#about .container .about-text p {
  margin-block: 30px;
  color: var(--paragraphColor);
}

#about .container .about-text ul li span {
  color: var(--listColor);
}

#about .container .about-text ul li p {
  color: #000;
  font-weight: bold;
}

.solarCharging {
  position: absolute;
  bottom: 20px;
  left: -30px;
  background-color: var(--buttonColor);
  color: var(--solorColor);
  padding: 12px 16px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#about .solarCharging img {
  width: 100px;
}

#about .solarCharging p {
  font-size: 14px;
  color: var(--solorColor);
}

/* Power that Doesn't Cost the Earth */
#power {
  background-image: url("assets/images/power.png");
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
#power .container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#power p {
  margin-block: 30px;
  max-width: 600px;
}

/* Solar Kits Section */
#solar {
  padding-block: var(--padding-sec);
}

#solar .container .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 30px;
  margin-top: 40px;
}

#solar .container .items .item {
  width: calc(100% / 3 - 30px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#solar .container figcaption {
  padding: 15px;
}

#solar .container .items .item span.solTitle {
  font-weight: bold;
  margin-block: 10px;
  display: block;
  color: var(--grayColor);
}

#solar .container .items .item p {
  color: var(--paragraphColor);
}

/* Repairs Over Replacement */
#replacement {
  padding-block: var(--padding-sec);
  background-image: url("assets/images/Repairs Over Replacement.png");
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

#replacement .item {
  background: #00000091;
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 12px;
  max-width: 800px;
  margin: auto;
  line-height: 1.5;
}

#replacement .item h6 {
  margin-bottom: 15px;
}

/* Energy Innovators - the products we love Section */
#innovators {
  padding-block: var(--padding-sec);
  background-color: #ffbb1c0d;
}

#innovators .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

#innovators .container .innovators-left {
  width: 30%;
}

#innovators .container .innovators-left p {
  margin-block: 20px;
  color: var(--paragraphColor);
}

#innovators .container .innovators-right {
  width: calc(70% - 30px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 30px;
}

#innovators .container .innovators-right .item {
  width: calc(100% / 2 - 30px);
  border: 1px solid var(--cardBorder);
  background-color: var(--cardBg);
  padding: 20px;
  border-radius: 10px;
}

#innovators .container .innovators-right .item img {
  border-radius: 10px;
}
#innovators .container .innovators-right .item span {
  font-weight: bold;
  display: inline-block;
  margin-block: 15px;
}

#innovators .container .innovators-right .item p {
  color: var(--paragraphColor);
}

/* Our values Section */
#values {
  padding-block: var(--padding-sec);
}

#values .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

#values .container .item {
  width: calc(33.33% - 30px);
  border: 1px solid var(--cardBorder);
  background-color: var(--cardBg);
  padding: 30px;
  border-radius: 10px;
  margin-top: 15px;
}

#values .container .item img {
  width: 70px;
}

#values .container .item h6 {
  font-size: 20px;
  margin-block: 20px;
}

#values .container .item p {
  color: var(--paragraphColor);
}

/* testimonial Section */
#testimonial {
  padding-block: var(--padding-sec);
}

#testimonial .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

#testimonial .container .testimonial-left {
  width: 30%;
}

#testimonial .container .testimonial-right {
  width: calc(70% - 30px);
}

#testimonial .container .testimonial-left img {
  width: 40px;
}

#testimonial .container .testimonial-left h6 {
  margin-block: 20px;
  max-width: 500px;
}

#testimonial .container .testimonial-left p {
  color: var(--testimonialParagraphColor);
}

#testimonial .container .testimonial-right {
  background-color: var(--cardBg);
  padding: 35px;
  border-radius: 10px;
}
#testimonial .container .testimonial-right .testimonial-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#testimonial .container .testimonial-right .testimonial-header span.card-head {
  color: var(--cardBorder);
  font-weight: 600;
}

#testimonial .container .testimonial-right .testimonial-header .dots .active {
  background-color: var(--dotsActive-color);
}

#testimonial .container .testimonial-right .testimonial-header .dots span {
  width: 7px;
  height: 7px;
  background-color: var(--dots-color);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

#testimonial .container .testimonial-right .testimonial-body {
  margin-block: 40px;
  max-width: 670px;
}

#testimonial .container .testimonial-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 30px;
}

#testimonial .container .testimonial-footer .left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#testimonial .container .testimonial-footer .left span {
  font-size: 14px;
  font-weight: 600;
}

#testimonial .container .testimonial-footer .left p {
  color: var(--testimonialParagraphColor);
}

#testimonial .container .testimonial-footer .left img {
  width: 50px;
}

#testimonial .container .testimonial-footer .right {
  width: calc(50% - 30px);
  display: flex;
  align-items: center;
  gap: 10px;
}

#testimonial .container .testimonial-footer .right .arrow-left,
#testimonial .container .testimonial-footer .right .arrow-right {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1.2px solid var(--testimonialParagraphColor);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

#testimonial .container .testimonial-footer .right img {
  width: 25px;
  height: 25px;
}

#testimonial .container .testimonial-footer .right img {
  width: 30px;
}

/* footer */
footer {
  padding-block: var(--padding-sec);
  background-color: var(--footerColor);
}

footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 30px;
}

footer .container .left,
footer .container .right {
  width: calc(100% / 2 - 30px);
}

footer .left img {
  width: 200px;
  height: auto;
}

footer .left .footer-links ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  color: #fff;
  font-size: 1rem;
}

footer .right label,
input {
  display: block;
}

footer .right label {
  color: #fff;
}

footer .right .email {
  margin-top: 15px;
  position: relative;
}

footer .right .email input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid var(--inputBorder);
  border-radius: 50px;
  background-color: #232f3d;
  color: var(--inputBorder);
  font-size: 0.8rem;
}

footer .right .email span {
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: var(--buttonColor);
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: .875rem;
  color: #fff;
}

footer .line {
  margin-block: 40px;
  margin-inline: auto;
  width: 80%;
  height: 1px;
  background-color: var(--footerLine);
}

footer .list,
footer .copyRight {
  width: calc(100% / 2 - 30px);
}

footer .list ul {
  color: var(--copyRightColor);
  display: flex;
  align-items: center;
}

footer .list ul li span:not(.first) {
  margin-inline: 20px;
}

footer .copyRight,
footer .list ul li {
  font-size: .875rem;
}

footer .list ul li span.first {
  margin-right: 1.25rem;
}

footer .copyRight {
  color: var(--copyRightColor);
}
/* Responsive */
@media (max-width: 1199.98px) {
  html {
    font-size: 13px;
  }

  nav .call {
    display: none;
  }

  nav label {
    display: block;
    cursor: pointer;
  }

  nav .nav-menu ul {
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: var(--mainColor);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    text-align: center;
  }

  /* This works only in modern browsers */
  nav:has(#menu:checked) .nav-menu ul {
    max-height: 500px;
  }

  nav .nav-menu ul li {
    padding: 12px;
  }

  nav input#menu {
    display: none;
  }

  header .btn2 {
    margin-top: 10px;
  }
}

@media (max-width: 992px) {
  #solar .container .items .item {
    width: calc(100% / 2 - 30px);
  }

  #innovators .container .innovators-right .item {
    width: 100%;
  }

  #values .container .item {
    width: calc(50% - 30px);
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }

  #about .container .about-img,
  #about .container .about-text {
    width: 100%;
  }

  #solar .container .items .item {
    width: 100%;
  }

  #innovators .container .innovators-right,
  #innovators .container .innovators-left {
    width: 100%;
  }

  #values .container .item {
    width: 100%;
  }

  #testimonial .container .testimonial-left,
  #testimonial .container .testimonial-right {
    width: 100%;
  }

  footer .container .left,
  footer .container .right {
    width: 100%;
  }

  footer .list,
  footer .copyRight {
    width: 100%;
  }

  #testimonial .container .testimonial-footer .left,
  #testimonial .container .testimonial-footer .right {
    width: 100%;
  }
}

@media (max-width: 576px) {
  footer .list {
    display: none;
  }
  footer .left .footer-links ul {
  font-size: 7px;
  }
  
}
